:root[data-theme="theme-1"] {
  --main-bg: hsl(222, 26%, 31%);
  --keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --txtkey-bg: hsl(225, 21%, 49%);
  --txtkey-shadow: hsl(224, 28%, 35%);
  --eqkey-bg: hsl(6, 63%, 50%);
  --eqkey-shadow: hsl(6, 70%, 34%);
  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(221, 14%, 31%);
}

:root[data-theme="theme-2"] {
  --main-bg: hsl(0, 0%, 90%);
  --keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  --txtkey-bg: hsl(185, 42%, 37%);
  --txtkey-shadow: hsl(185, 58%, 25%);
  --eqkey-bg: hsl(25, 98%, 40%);
  --eqkey-shadow: hsl(25, 99%, 27%);
  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(60, 10%, 19%);
}

:root[data-theme="theme-3"] {
  --main-bg: hsl(268, 75%, 9%);
  --keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);
  --txtkey-bg: hsl(281, 89%, 26%);
  --txtkey-shadow: hsl(285, 91%, 52%);
  --eqkey-bg: hsl(176, 100%, 44%);
  --eqkey-shadow: hsl(177, 92%, 70%);
  --key-bg: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(198, 20%, 13%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

body {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.background {
  display: flex;
  justify-content: center;
  background-color: var(--main-bg);
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 100px;
}

.calcHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0px 10px;
}

.logo {
  justify-content: center;
  align-self: end;
  font-size: 28px;
}

.themeSwitcher {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.label {
  display: flex;
  align-items: flex-end;
  margin-right: 15px;
  letter-spacing: 1px;
}

.switchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.themeNum {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.toggleBar {
  position: relative;
  width: 60px;
  height: 20px;
  background-color: var(--keypad-bg);
  border-radius: 25px;
  cursor: pointer;
}
.toggleBar label {
  font-size: 10px;
}
.toggleBar input[type="radio"] {
  margin-top: 4px;
  margin-left: 3px;
  opacity: 0;
}
.toggleBar .toggleSlider {
  position: absolute;
  background-color: var(--eqkey-bg);
  width: 15px;
  height: 15px;
  left: 5px;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.toggleBar #t1:checked ~ .toggleSlider {
  transform: translate3d(0, -1.1rem, 0);
}
.toggleBar #t2:checked ~ .toggleSlider {
  transform: translate3d(1.1rem, -1.1rem, 0);
}
.toggleBar #t3:checked ~ .toggleSlider {
  transform: translate3d(2.25rem, -1.1rem, 0);
}

.calcScreen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  background-color: var(--screen-bg);
  width: 400px;
  min-height: 110px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
}

.calcScreen #input {
  font-size: 42px;
}

.calcScreen #prevInput {
  font-size: 16px;
  color: #bfbfbf;
}

.calcBody {
  background-color: var(--keypad-bg);
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.btn {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: var(--grayish-blue);
  background-color: var(--key-bg);
  width: 80px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  border-bottom: 3px solid var(--key-shadow);
}
.btn:hover {
  background-color: #fdfcfc;
  cursor: pointer;
}

#btn-1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

#btn-2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

#btn-3 {
  grid-column: 3/4;
  grid-row: 3/4;
}

#btn-4 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#btn-5 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#btn-6 {
  grid-column: 3/4;
  grid-row: 2/3;
}

#btn-0 {
  grid-column: 2/3;
  grid-row: 4/5;
}

#btn-dec {
  grid-column: 1/2;
  grid-row: 4/5;
}

#btn-mul {
  grid-column: 4/5;
  grid-row: 4/5;
}

#btn-del {
  background-color: var(--txtkey-bg);
  font-size: 24px;
  color: var(--white);
  border-bottom: 3px solid var(--txtkey-shadow);
  grid-column: 4/5;
  grid-row: -5/-4;
}
#btn-del:hover {
  background-color: #808bac;
  cursor: pointer;
}

#btn-res {
  background-color: hsl(225, 21%, 49%);
  font-size: 24px;
  color: hsl(0, 0%, 100%);
  width: 170px;
  border-bottom: 3px solid hsl(224, 28%, 35%);
  grid-column: 1/3;
}
#btn-res:hover {
  background-color: #808bac;
  cursor: pointer;
}

#btn-eq {
  background-color: hsl(6, 63%, 50%);
  font-size: 22px;
  color: hsl(0, 0%, 100%);
  width: 170px;
  border-bottom: 3px solid hsl(6, 70%, 34%);
  grid-column: 3/5;
}
#btn-eq:hover {
  background-color: #d96659;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} /*# sourceMappingURL=calculator.css.map */
