//t1 color pallete

:root[data-theme="theme-1"] {
  --main-bg: hsl(222, 26%, 31%);
  --keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --txtkey-bg: hsl(225, 21%, 49%);
  --txtkey-shadow: hsl(224, 28%, 35%);
  --txtkey-hover: hsl(225, 21%, 59%);
  --eqkey-bg: hsl(6, 63%, 50%);
  --eqkey-shadow: hsl(6, 70%, 34%);
  --eqkey-hover: hsl(6, 63%, 60%);
  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --key-hover: hsl(30, 25%, 99%);
  --txt-white: hsl(0, 0%, 100%);
  --txt-accent: hsl(221, 14%, 31%);
  --correct-header: hsl(0, 0%, 100%);
}

:root[data-theme="theme-2"] {
  --main-bg: hsl(0, 0%, 90%);
  --keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  --txtkey-bg: hsl(185, 42%, 37%);
  --txtkey-shadow: hsl(185, 58%, 25%);
  --txtkey-hover: hsl(185, 42%, 47%);
  --eqkey-bg: hsl(25, 98%, 40%);
  --eqkey-shadow: hsl(25, 99%, 27%);
  --eqkey-hover: hsl(25, 98%, 50%);
  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --key-hover: hsl(30, 25%, 99%);
  --txt-white: hsl(0, 0%, 100%);
  --txt-accent: hsl(60, 10%, 19%);
  --correct-header: hsl(60, 10%, 19%);
}

:root[data-theme="theme-3"] {
  --main-bg: hsl(268, 75%, 9%);
  --keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);
  --txtkey-bg: hsl(281, 89%, 26%);
  --txtkey-shadow: hsl(285, 91%, 52%);
  --txtkey-hover: hsl(281, 89%, 36%);
  --eqkey-bg: hsl(176, 100%, 44%);
  --eqkey-shadow: hsl(177, 92%, 70%);
  --eqkey-hover: hsl(176, 100%, 34%);
  --key-bg: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  --key-hover: hsl(268, 47%, 31%);
  --txt-white: hsl(0, 0%, 100%);
  --txt-accent: hsl(52, 100%, 62%);
  --correct-header: hsl(52, 100%, 62%);
}

//themes

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

//calculator styling
body {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--correct-header);
}

.background {
  display: flex;
  justify-content: center;
  background-color: var(--main-bg);
}

.calculator {
  display: flex;
  flex-direction: column;

  width: 400px;
  margin: 100px;
}

.calcHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0px 10px;
}

.logo {
  justify-content: center;
  align-self: end;
  font-size: 28px;
}

.themeSwitcher {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.label {
  display: flex;
  align-items: flex-end;
  margin-right: 15px;
  letter-spacing: 1px;
}

.switchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.themeNum {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.toggleBar {
  position: relative;
  width: 60px;
  height: 20px;
  background-color: var(--keypad-bg);
  border-radius: 25px;

  cursor: pointer;

  label {
    font-size: 10px;
  }

  input[type="radio"] {
    margin-top: 4px;
    margin-left: 3px;
    opacity: 0;
  }

  .toggleSlider {
    position: absolute;
    background-color: var(--eqkey-bg);
    width: 15px;
    height: 15px;
    left: 5px;
    border-radius: 50%;
    transition: all 0.4s ease;
  }

  #t1:checked ~ .toggleSlider {
    // background-color: red;
    transform: translate3d(0, -1.1rem, 0);
  }

  #t2:checked ~ .toggleSlider {
    // background-color: green;
    transform: translate3d(1.1rem, -1.1rem, 0);
  }

  #t3:checked ~ .toggleSlider {
    // background-color: blue;
    transform: translate3d(2.25rem, -1.1rem, 0);
  }
}

.calcScreen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  background-color: var(--screen-bg);

  width: 400px;
  min-height: 110px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
}

.calcScreen #input {
  font-size: 42px;
}

.calcScreen #prevInput {
  font-size: 16px;
  color: darken(var(--txt-white), 25%);
}

.calcBody {
  background-color: var(--keypad-bg);
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;

  //grid
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.btn {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: var(--txt-accent);
  background-color: var(--key-bg);
  width: 80px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  border-bottom: 3px solid var(--key-shadow);

  &:hover {
    background-color: lighten(var(--key-bg), 10%);
    cursor: pointer;
  }
}

#btn-1 {
  //grid
  grid-column: 1/2;
  grid-row: 3/4;
}

#btn-2 {
  //grid
  grid-column: 2/3;
  grid-row: 3/4;
}

#btn-3 {
  //grid
  grid-column: 3/4;
  grid-row: 3/4;
}

#btn-4 {
  //grid
  grid-column: 1/2;
  grid-row: 2/3;
}

#btn-5 {
  //grid
  grid-column: 2/3;
  grid-row: 2/3;
}

#btn-6 {
  //grid
  grid-column: 3/4;
  grid-row: 2/3;
}

#btn-0 {
  //grid
  grid-column: 2/3;
  grid-row: 4/5;
}

#btn-dec {
  //grid
  grid-column: 1/2;
  grid-row: 4/5;
}

#btn-mul {
  //grid
  grid-column: 4/5;
  grid-row: 4/5;
}

#btn-del {
  background-color: var(--txtkey-bg);
  font-size: 24px;
  color: var(--txt-white);
  border-bottom: 3px solid var(--txtkey-shadow);
  //grid
  grid-column: 4/5;
  grid-row: -5/-4;

  &:hover {
    background-color: lighten(var(--txtkey-bg), 10%);
    cursor: pointer;
    transition: all 0.2s ease;
  }
}

#btn-res {
  background-color: var(--txtkey-bg);
  font-size: 24px;
  color: var(--txt-white);
  width: 170px;
  border-bottom: 3px solid var(--txtkey-shadow);
  //grid
  grid-column: 1/3;

  &:hover {
    background-color: var(--eqkey-hover);
    cursor: pointer;
  }
}

#btn-eq {
  background-color: var(--eqkey-bg);
  font-size: 22px;
  color: var(--txt-white);
  width: 170px;
  border-bottom: 3px solid var(--eqkey-shadow);

  //grid
  grid-column: 3/5;

  &:hover {
    background-color: lighten(var(--eqkey-bg), 10%);
    cursor: pointer;
  }
}

//footer style
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
